<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">

<link rel="import" href="../../bower_components/marked-element/marked-element.html">

<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="../../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">

<link rel="import" href="../quoted-printable.html">

<dom-module id="bup-doc">
	<template>
		<style is="custom-style" include="shared-styles iron-flex iron-flex-alignment">
			:host {
				display: block;
				box-sizing: border-box;
				padding: 15px;
				height: 100%;
			}

			.small {
				font-size: 12px;
			}

			.issuedBy {
				margin-bottom: 5px;
			}

			.material {
				max-width: 100%;
				background-color: white;
				padding: 15px;
			}

			.title {
				margin-bottom: 3px;
			}

			.row {
				@apply(--layout-horizontal);
				@apply(--layout-justified);
			}

			.full-row {
				@apply(--layout-horizontal);
				@apply(--layout-flex);
			}

			.left-column {
				@apply(--layout-flex-3);
			}

			.margin-top {
				margin-top: 1em;
			}

			.right-column {
				margin-left: 5vw;
				@apply(--layout-vertical);
				@apply(--layout-self-end);
				@apply(--layout-flex-2);
			}

			.submit {
				@apply(--submit-button);
			}

			vaadin-date-picker {
				--vaadin-date-picker-overlay: {
					max-height: 340px;
				}
				;
				--vaadin-date-picker-calendar-cell-selected: {
					color: var(--primary-text-color);
				}
			}
		</style>

		<app-location id="location" route="{{route}}" use-hash-as-path></app-location>

		<app-route route="{{route}}" pattern="/doc/:docId" data="{{routeData}}"></app-route>

		<iron-ajax id="docUserAjax" auto url="{{_docUserUrl(settings)}}" handle-as="json" on-response="_docUserRequest" last-response="{{docUser}}" verbose></iron-ajax>

		<iron-ajax id="postAjax" url="{{_postUrl(settings)}}" content-type="application/json" handle-as="json" method="POST" bubbles="true"
			on-response="_handleResponse" debounce-duration="300" verbose></iron-ajax>

		<iron-ajax id="putAjax" url="{{_putUrl(settings, selectedDoc)}}" content-type="application/json" handle-as="json" method="PUT"
			bubbles="true" on-response="_handleResponse" debounce-duration="300" verbose></iron-ajax>

		<iron-ajax id="docAjax" url="{{_getUrl(settings, selectedDoc)}}" handle-as="json" on-response="_parseRequest" last-response="{{doc}}"
			loading="{{mainLoading}}" verbose>
		</iron-ajax>

		<div class="card">
			<form is="iron-form" id="form">
				<paper-material elevation="1" class="material">
					<div class="layout vertical">
						<div class="row">
							<div class="left-column">
								<vaadin-date-picker class="margin-left" label="Date Entered" value="{{doc.dateEntered}}" required auto-validate error-message="Required"></vaadin-date-picker>
							</div>
							<div class="right-column">
							</div>
						</div>
						<div class="row">
							<div class="left-column">
								<paper-input label="Subject" value="{{doc.Title}}" required auto-validate error-message="Required" placeholder="Enter Subject"></paper-input>
							</div>
							<div class="right-column">
							</div>
						</div>
						<div class="row">
							<div class="left-column">
								<paper-input label="Description" value="{{doc.Description}}"></paper-input>
							</div>
							<div class="right-column">
							</div>
						</div>
						<!--<div class="row">
						<div class="left-column">
							<paper-input label="Command" value="{{doc.Division}}" required auto-validate error-message="Required" placeholder="Enter Command"></paper-input>
						</div>
						<div class="right-column">
						</div>
					</div>-->
						<div class="row">
							<div class="left-column">
								<vaadin-combo-box label="Command" value="{{doc.Division}}" items="[[divisions]]" required auto-validate error-message="Required"></vaadin-combo-box>
							</div>
							<div class="right-column">
							</div>
						</div>
						<div class="row">
							<div class="left-column">
								<vaadin-date-picker class="margin-left" label="BUP Date" value="{{doc.dateBUP}}" required auto-validate error-message="Required"></vaadin-date-picker>
							</div>
							<div class="right-column">
							</div>
						</div>
						<div class="row">
							<div class="left-column">
								<vaadin-date-picker class="margin-left" label="Date Out" value="{{doc.dateOut}}"></vaadin-date-picker>
							</div>
							<div class="right-column">
							</div>
						</div>
						<div class="row">
							<div class="left-column">
								<paper-input label="To Whom" value="{{doc.ToWhom}}"></paper-input>
							</div>
							<div class="right-column">
							</div>
						</div>
						<div class="row">
							<div class="left-column">
								<paper-input label="Notes" value="{{doc.Notes}}"></paper-input>
							</div>
							<div class="right-column">
							</div>
						</div>
						<div class="row margin-top">
							<div class="left-column">
								<paper-button id="submit" class="submit self-center margin-left">Submit</paper-button>
							</div>
							<div class="right-column">
							</div>
						</div>
						<div id="docHistoryRow" class="row margin-top">
							<div class="full-row">
								Document History: [[doc.ModificationHistory]]
							</div>
						</div>
					</div>
				</paper-material>
			</form>
		</div>
		<paper-toast id="toastMsg" class="fit-bottom">
			<iron-icon id="toastIcon"></iron-icon>
		</paper-toast>
	</template>
</dom-module>

<script type="text/javascript" src="bup-doc.js"></script>