<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">

<link rel="import" href="../moment.html">

<dom-module id="program-bup">
	<template>
		<style include="shared-styles">
			:host {
				display: block;
				box-sizing: border-box;
			}

			#programBup {
				width: 100%;
				height: 100%;
			}
		</style>
		<iron-ajax id="viewAjax" url="{{_getUrl(settings)}}" handle-as="json" loading="{{mainLoading}}" on-response="_onViewFetch"
			verbose>
		</iron-ajax>
		<vaadin-grid id="programBup">
			<table>
				<colgroup>
					<col name="dateEntered" />
					<col name="Title" />
					<col name="Description" />
					<col name="Division" />
					<col name="dateBUP" />
					<col name="dateOut" />
					<col name="ToWhom" />
					<col name="Notes" />
				</colgroup>
				<thead>
					<tr>
						<th>Date In</th>
						<th>Subject</th>
						<th>Description</th>
						<th>Command</th>
						<th>BUP</th>
						<th>Date Out</th>
						<th>To Whom</th>
						<th>Notes</th>
					</tr>
				</thead>
			</table>
		</vaadin-grid>
		<paper-toast id="toastMsg" class="fit-bottom">
			<iron-icon id="toastIcon"></iron-icon>
		</paper-toast>
	</template>
</dom-module>

<script type="text/javascript" src="program-bup.js"></script>