<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">
<link rel="import" href="../../bower_components/now-core/now-core.html">
<link rel="import" href="../../styles/shared-styles.html">

<!--
	Simple example component that can reverse or repeat its content.
-->
<dom-module id="my-text-manipulator">
	<template>
		<style include="shared-styles">
			:host {
				display: block;
				padding: 10px;
				background: var(--divider-color);
			}
		</style>

		<template id="repeater" is="dom-repeat" items="[[counterArray]]" as="count">
			<div>Repetition [[count]]: <span class$="[[styleClass]]">[[displayText]]</span></div>
		</template>
		<content></content>

	</template>
</dom-module>

<script type="text/javascript" src="my-text-manipulator.js"></script>
