<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">

<link rel="import" href="../moment.html">

<dom-module id="date-bup">
	<template>
		<style include="shared-styles">
			:host {
				display: block;
				box-sizing: border-box;
			}

			#dateBup {
				width: 100%;
				height: 100%;
			}
		</style>
		<iron-ajax id="viewAjax" url="{{_getUrl(settings)}}" handle-as="json" loading="{{mainLoading}}" on-response="_onViewFetch"
			verbose>
		</iron-ajax>
		<vaadin-grid id="dateBup">
			<table>
				<colgroup>
					<col name="dateBUP" />
					<col name="dateEntered" />
					<col name="Title" />
					<col name="Description" />
					<col name="Division" />
					<col name="dateOut" />
					<col name="ToWhom" />
					<col name="Notes" />
				</colgroup>
				<thead>
					<tr>
						<th>BUP</th>
						<th>Date In</th>
						<th>Subject</th>
						<th>Description</th>
						<th>Command</th>
						<th>Date Out</th>
						<th>To Whom</th>
						<th>Notes</th>
					</tr>
				</thead>
			</table>
		</vaadin-grid>
	</template>
</dom-module>

<script type="text/javascript" src="date-bup.js"></script>