<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="../../bower_components/neon-animation/neon-animatable.html">

<link rel="import" href="../../bower_components/now-basic-app-layout/now-basic-app-layout.html">

<!-- Authentication code for Domino; redirects to the login page if the user isn't authenticated.
    REMOVE THIS IF YOUR ARE NOT USING DOMINO AUTHENTICATION.
<link rel="import" href="../../bower_components/now-domino-auth/now-domino-auth.html"> -->

<link rel="import" href="../../styles/app-theme.html">
<link rel="import" href="../../styles/shared-styles.html">

<link rel="import" href="../program-bup/program-bup.html">
<link rel="import" href="../date-bup/date-bup.html">
<link rel="import" href="../bup-doc/bup-doc.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<dom-module id="bup-app">
	<template>
		<style include="shared-styles iron-flex iron-flex-alignment iron-flex-reverse">
			.emphasis {
				font-style: italic;
			}

			#add {
				text-decoration: none;
				color: var(--primary-text-color);
				font-size: 14pt;
				padding-right: 1em;
			}

			#addButton {
				text-transform: none;
			}

			#add iron-icon {
				--iron-icon-height: 32px;
				--iron-icon-width: 32px;
				--iron-icon: {
					vertical-align: bottom;
				}
				;
				color: var(--success-color);
			}
		</style>

		<now-basic-app-layout id="appLayout" selected-page-property="data-route" header-title="Program Section Bring Up" logo="images/SA_Header_Logo.png"
			footer-logo="images/RPN_Footer_logo.png" copyright-notice="&copy; 2016 The Salvation Army, USA Eastern Territory. All Rights Reserved." home-route="/programBup"
			route="{{route}}" subroute="{{subroute}}" main-loading="{{mainLoading}}" use-hash-as-path animation-type="none">
			<div header-content>
				<a id="add" href="#/doc/new" id="addBup">
					<paper-button id="addButton">
						<iron-icon class="big" icon="add"></iron-icon>
						Create BUP
					</paper-button>
				</a>
			</div>
			<neon-animatable data-route="programBup" title="Program BUP">
				<program-bup settings="{{settings}}" main-loading="{{mainLoading}}" route="{{route}}">
				</program-bup>
			</neon-animatable>
			<neon-animatable data-route="dateBup" title="By Bring Up Date">
				<date-bup settings="{{settings}}" main-loading="{{mainLoading}}" route="{{route}}">
				</date-bup>
			</neon-animatable>
			<neon-animatable data-route="doc" data-invisible>
				<bup-doc settings="{{settings}}" main-loading="{{mainLoading}}" selected-doc="{{docData.unid}}">
				</bup-doc>
			</neon-animatable>
		</now-basic-app-layout>

		<iron-ajax id="settingsAjax" url="{{_getSettingsUrl()}}" last-response="{{settings}}" loading="{{mainLoading}}" handle-as="json"
			auto verbose>
		</iron-ajax>

		<app-route id="documentRoute" pattern="/doc/:unid" route="{{route}}" data="{{docData}}">
		</app-route>

	</template>
</dom-module>

<script type="text/javascript" src="bup-app.js"></script>